@{
    ViewData["Title"] = "Contact";
}
<h2 class="page-title">@ViewData["Title"]</h2>


<div class="page-body">
    <address>
        <strong>Email:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Linked in:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Github:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>
