@{
    ViewData["Title"] = "ABOUT";
}

<h2 class="page-title">@ViewData["Title"]</h2>


<div class="page-body">
	<img src="~/images/me.png" class="lois-photo" alt="Lois photo"/>
	<h3 class="name">Lois Choi</h3>
	<h5 class="job-title">Junior Developer</h5>
    <p class="page-text">I am a former teacher who took a year off from teaching to travel around the world. 
		My goal was not only to experience different cultures, but to also discover my ambitions and goals. 
	    Traveling opened my eyes to the diverse beauty in design and architecture as well as the importance 
	    of having innovative technology to make all lives a little easier. This inspired me to study UX/UI 
	    design through Coursera. After learning how to design user interfaces, I realized I wanted to learn 
	    how to program to expand my skills. Thus, I started my education at Epicodus and am now in pursuit 
	    of becoming a developer.
	</p>

</div>



