@{
    ViewData["Title"] = "Responsive Design Testing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-1 col-m-1">
    <h1 class="menu">My Favorite Things</h1>
	</div>
	<div class="col-8 col-m-8">
        <div class="main">
            <ul>
        		<li>Traveling</li>
        		<li>Trying new food</li>
        		<li>Scuba Diving</li>
        		<li>Make new friends</li>
        	</ul>
        </div>
	</div>
</div>